<div class="pdp-layout">
    <div class="pdp-layout__left-col">
        <div>
            <div id="photos" class="pdp-layout__carousel" aria-hidden="true">
                <div class="main-image__container">


                </div>
            </div>
            <div *ngFor="let item of functionHall" class="media-flex__body">

               
                <div class="HitInfo__details">
                    <h2 class="HitInfo__headline hover-text" aria-hidden="true">Function Hall: {{ item.name }}</h2>
                    <div class="Details__propertyType Details__label" aria-hidden="true"><b>Owner:</b>
                        {{ item.ownerFirstName }}
                    </div>
                </div>
                <div class="HitInfo__details">
                    <div class="Details__functionhalls Details__label" aria-hidden="true"><b>Address:</b> {{ item.street }} </div>
                    <div class="Details__functionhalls Details__label" aria-hidden="true">{{ item.state }}</div>
                    <div class="Details__sleeps Details__label" aria-hidden="true">{{ item.city }}</div>
                    <div class="Details__label" aria-hidden="true">{{ item.zipcode }}</div>
               

                <div class="pdp-layout__main-content ">
                    <div class="tablet-rail__column">
                        
                            <div class="primary-cta" data-wdio="primary-cta">
                                <div class="cta-sticky-container border-border-color"><button
                                        class="btn btn-primary btn-block" aria-label="Get A Quoate" type="button"><span
                                            class="btn__label btn__label">Get A Quote</span></button></div>
                            </div>
                       
                        </div>
                        <div class="nav-anchor nav-anchor__last" id="rates-availability">
                            <div>
                                <div style="margin-bottom: 0px;">
                                    <section class="pdp-section--availability">
                                        <div style="min-height: 1em;">
                                            <div></div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>