
            <div class="modal-body" style="max-width: 1000px;" >
                <!--<h4 class="card-title mt-3 text-center"></h4>-->
    
                <img alt="vedikas logo" class="site-header-logo__img Header-BG img-responsive" itemprop="logo"
                src="../../assets/Images/ProjectNam.png" alt="Vedikas" width="150px" height="35px" title="Vedikas">
    
                  <!-- <article class="card-body mx-auto" style="max-width: 400px;"> -->
                  
                      <p class="text-center">Log in or sign up on Vedikas</p>
                      
                          <!-- <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   signup via Twitter</a> -->
                          <a href="http://localhost:8080" class="btn btn-block btn-google"> 
                              <i class="fab fa-google"></i>   signup via google</a>
                              
              
                  <p class="divider-text">
                      <span class="bg-light">OR</span>
                  </p>
                  <form>
      
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="Email address" type="email">
                    </div> <!-- form-group// -->
                    <button type="button" class="btn btn-block btn-primary" width="500px" > Submit</button>
                    <button type="button"routerLink="/register" class="btn btn-block btn-" width="500px" > Register </button>
    
                  </form>
                 </div>
            <!--</ng-template>-->
    
            <ng-template #register>
                
                <img alt="vedikas logo" class="site-header-logo__img Header-BG img-responsive" itemprop="logo"
                src="../../assets/Images/ProjectNam.png" alt="Vedikas" width="150px" height="35px" title="Vedikas">
    
              <div class="modal-body">
                 
                  <form>
                    <div class="form-group">
                      <label> UserName </label>
                      <input type="text" name="" class="form-control">
                    </div>
        
                    <div class="form-group">
                      <label> Email </label>
                      <input type="text" name="" class="form-control">
                    </div>
        
                    <div class="form-group">
                      <label> Password </label>
                      <input type="text" name="" class="form-control">
                    </div>
        
                    <div class="form-group">
                      <label> Repeat Password </label>
                      <input type="text" name="" class="form-control">
                    </div>
        
                  </form>
        
                    <button class="btn btn-primary" data-dismiss="modal"> Register </button>
      
                           </div>
            </ng-template>
    